.profile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img{
    width: 70%;
    
}

.profile-info{
    width: 30%;
    display: flex;
    flex-direction: column;

}

.profile-info button{
    width: 100px;
}

.profile-actions{
    width: 30%;
}

.profile-search{
    width: 30%;
}